* linguist-vendored
*.php linguist-vendored=false
*.scss linguist-vendored=false
*.html linguist-vendored=false
*.css linguist-vendored=true
*.php linguist-detectable=true
*.hack linguist-language=php
